{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input class="form-control" id="floatingInput" type="text" name="title" placeholder="Title" required>
            <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating">
            <textarea class="form-control" id="floatingTextarea" type="text" name="description" placeholder="Description"></textarea>
            <label for="floatingTextarea">Description</label>
        </div>
        <br>
        <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input class="form-control" type="number" min="0" step="0.01" name="start_bid" placeholder="Starting Bid" required>
        </div>
        <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect02" name="category">
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.category }}</option>
                {% endfor %}
            </select>
            <label class="input-group-text" for="inputGroupSelect02">Category</label>
        </div>
        <div class="form-floating">
            <input class="form-control" id="floatingPassword" type="text" name="image_url" placeholder="Image URL">
            <label for="floatingPassword">Image URL</label>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Create">
    </form>
{% endblock %}