{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    {% for listing in listings %}
        <div class="border-top">
            <h4>
                <a href="{% url 'listing_page' listing.id %}">
                    {{ listing.title }}
                    <!-- ? If listing has closed -->
                    {% if listing.close == True %}
                        (Closed)
                    {% endif %}
                </a>
            </h4>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" height="300" class="rounded">
            {% else %}
                <p>
                    No image preview.
                </p>
            {% endif %}
            <h5>
                <strong>
                    Price: $
                    <!-- ? Bid raise available -->
                    {% if listing.bid_raise %}
                        {{ listing.bid_raise|floatformat:2 }}
                    <!-- ? No bid raise -->
                    {% else %}
                        {{ listing.start_bid|floatformat:2 }}
                    {% endif %}
                </strong>
            </h5>
            {% if listing.description %}
                <h6>
                    {{ listing.description }}
                </h6>
            {% endif %}
            <br>
            <footer class="blockquote-footer">Created <cite title="Source Title">{{ listing.created_on }}</cite></footer>
        </div>
        <br>
    {% empty %}
        <div>
            <h4>
                No active listing available.
            </h4>
        </div>
    {% endfor %}
{% endblock %}