%area {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
html, body {
    @extend %area;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
    margin: 0 auto -60px;
    font-family: Arial, sans-serif;
    text-align: left;
}
.navigation {
    height: 48px;
    padding: 8px;
    display: flex;
    align-items: center;
}
.back_index {
    padding-left: 12px;
    position: relative;
    display: flex;
    align-items: center;
}
.header {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}
h1 {
    margin-left: 10px;
}
.divider {
    border-bottom: 1px solid #ebebeb;
}
.seperate {
    margin: 18px 0;
}
.container {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}
.head {
    height: 42px;
}
%min_hw {
    min-width:167px;
    height: 42px;
}
.title {
    @extend %min_hw;
    width: 100%;
}
 .main {
    width: 16%;
    font-size: 16px;
    color: #333;
 }
 .middle {
    width: 100%;
 }
 .foot {
    width: 33%;
    font-size: 13px;
    color: #777;
    padding-left: 5px;
 }
 .main_child {
    @extend %min_hw;
    width: 16%;
    color: #222;
    font-size: 13px;
 }
 .foot_child {
    @extend %min_hw;
    width: 32%;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 15px;
 }
 .special_word {
    color: #666;
    font-family: monospace;
    font-size: 11px;
 }
.input_bar {
    width: 98%;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
button {
    height: 30px;
    min-width: 120px;
    float: right;
    margin: 10px 0;
    padding: 0 12px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    text-align: center;
}
button:hover {
    background-color: #3079ed;
}